body {
  background: #2C2F33;
  color: white;
  font-size: 20px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ms-player-names {
  display: block;
}

.history-table {
  color: white;
  background: #40444B;
}

.gs {
  text-align: center;
}

.gs-player-name {
  display: block;
}

.gs-word {
  font-size: 30px;
  display: flex;
  justify-content: center;
  gap: 3px;
  margin-top: 50px;
}

